---
import "./packageCardsDevFest2024.css";

import XIcon from "../../../assets/svg/XIcon.svg";
import BracketImage from "../../../assets/svg/devfest/PackagesDevfestBrackets.svg";

import { Image } from "astro:assets";

const { cardColor, title, packageElements, price } = Astro.props.card;

console.log(Astro.props.card);

const getColor = (
  classConfig, // Could Be bg, text
) => {
  const colors = {
    red: `${classConfig}-rojo-GDG`,
    yellow: `${classConfig}-amarillo-GDG`,
    blue: `${classConfig}-azul-GDG`,
    green: `${classConfig}-verde-GDG`,
    gray: `${classConfig}-Gray-900`,
    orange: `${classConfig}-Orange`,
  };
  return colors[cardColor];
};
---

<div class="h-full custom-shape p-1 bg-black">
  <div class={`flex h-full custom-shape ${getColor("bg")} justify-end `}>
    <div
      class="bg-slate-50 outline outline-black flex flex-col justify-between custom-height custom-width mb-6 sm:mb-0"
    >
      <!-- XICON -->
      <div class="pt-2 px-2 grow-0">
        <Image src={XIcon} alt="xIcon" class="w-5 h-5" />
      </div>

      <!-- TITLE -->
      <div class="pt-2 px-2 grow-0">
        <h4 class={`${getColor("text")} text-center text-3xl font-bold italic`}>
          {title}
        </h4>
      </div>

      <!-- PACKAGE CONTAINER -->
      <div>
        <!-- Brackets -->
        <div class="flex justify-center relative">
          <Image src={BracketImage} alt="" class="bracketImage" />
          <div class="absolute text-center self-center px-16 sm:px-10 md:px-12 text-white">
            {
              packageElements.map((element, index) => {
                return index != packageElements.length - 1
                  ? `${element} - `
                  : `${element}`;
              })
            }
          </div>
        </div>
      </div>

      <!-- GET ONE BUTTON -->
      <div class="my-5 pb-10 text-center grow place-content-end">
        <button
          class="py-2 px-5 outline outline-black bg-amarillo-GDG text-white"
        >
          ¡Quiero uno!
        </button>
      </div>
    </div>
  </div>
</div>
