---
import "./packageCardsDevFest2024.css";
import { Image } from "astro:assets";

import XIcon from "../../../assets/svg/XIcon.svg";
import GreenCardBackground from "../../../assets/svg/devfest/CuadroVerde.svg";
import BlueCardBackground from "../../../assets/svg/devfest/CuadroAzul.svg";

const { cardColor, title, packageElements, price, cardImage } =
  Astro.props.card;

const getColorClassForBgOrText = (
  classConfig, // Could Be bg, text
) => {
  const colors = {
    // red: `${classConfig}-rojo-GDG`,
    // yellow: `${classConfig}-amarillo-GDG`,
    blue: `${classConfig}-azul-GDG`,
    green: `${classConfig}-verde-GDG`,
    // gray: `${classConfig}-Gray-900`,
    // orange: `${classConfig}-Orange`,
  };
  return colors[cardColor];
};
const getColorClassForBackground = () => {
  const colors = {
    // red: '',
    // yellow: '',
    blue: "packageCard--blue",
    green: "packageCard--green",
    // gray: '',
    // orange: '',
  };
  return colors[cardColor];
};
---

<div class=`packageCard bg-no-repeat bg-cover ${getColorClassForBackground()}`>
  <!-- X Icon -->
  <div>
    <Image src={XIcon} alt="" class="w-7 h-7" />
  </div>

  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
  <!-- Title -->
  <div class="py-5">
    <h3>{title}</h3>
  </div>
</div>
