<section id="events" class="content-container mt-14 max-w-7xl mx-auto px-6">
  <h2 class="text-3xl font-bold text-center mb-8">Eventos Pasados</h2>
  <div
    id="event-list"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-center"
  >
  </div>
  <div class="flex justify-center mt-8" id="load-more-container">
    <button id="load-more" class="bg-azul-GDG hover:bg-blue-600 text-white px-8 py-4 rounded-full text-lg font-semibold shadow-lg hover:shadow-xl transition-all duration-300 hover:scale-105">
      Ver Más
    </button>
  </div>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    let visibleEvents = 4;

    const eventList = document.getElementById("event-list");
    const loadMoreBtn = document.getElementById("load-more");
    const loadMoreContainer = document.getElementById("load-more-container");

    const loadEvents = (events) => {
      eventList.innerHTML = "";

      events.slice(0, visibleEvents).forEach((event) => {
        const eventElement = document.createElement("div");
        eventElement.className = "text-center mb-4";

        eventElement.innerHTML = `
          <a href="${event.link}" target="_blank" rel="noopener noreferrer" class="block transform transition-transform duration-300 hover:scale-110">
            <img src="${event.src}" alt="${event.title}" class="w-48 h-48 rounded-full object-cover mx-auto">
          </a>
          <p class="text-gray-500 mt-5">${event.date}</p>
          <p class="text-gray-800 font-semibold mt-5">${event.title}</p>
          <p class="text-gray-900 mt-5">${event.fullName}</p>
        `;

        eventList.appendChild(eventElement);
      });

      if (visibleEvents >= events.length) {
        loadMoreContainer.style.display = "none";
      } else {
        loadMoreContainer.style.display = "flex";
      }
    };

    const loadMoreEvents = () => {
      visibleEvents += 4;
      loadEvents(events);
    };

    loadMoreBtn?.addEventListener("click", loadMoreEvents);

    // Cargar eventos desde el archivo JSON
    fetch("/events.json")
      .then((response) => response.json())
      .then((data) => {
        events = data; // Asignar los eventos del JSON a la variable events
        loadEvents(events);
      })
      .catch((error) =>
        console.error("Error al cargar eventos desde JSON:", error),
      );
  });
</script>
