---
import { Image } from "astro:assets";
import ImgAlejandroN from "../../../../src/assets/devfest2024/img/speakers/Alejandro Núñez Arroyo.jpg";
import ImgArielO from "../../../../src/assets/devfest2024/img/speakers/Ariel Ortuño.jpg";
import ImgFernandoS from "../../../../src/assets/devfest2024/img/speakers/Fernando Silva.png";
import ImgGabrielT from "../../../../src/assets/devfest2024/img/speakers/Gabriela Torrico.jpeg";
import ImgMariaT from "../../../../src/assets/devfest2024/img/speakers/Maria Rene Torrez Vargas.jpg";
import ImgPabloD from "../../../../src/assets/devfest2024/img/speakers/Pablo Daniel Noya Quiroz.jpg";

import ImgIconGroup from "../../../../src/assets/devfest2024/svg/Icono_Equipo.svg";
import ImgIconBandera from "../../../../src/assets/devfest2024/svg/Icono_Bandera.svg";
import ImgIconCopa from "../../../../src/assets/devfest2024/svg/Icono_Copa.svg";

import BgFondo1 from "../../../../src/assets/devfest2024/svg/Fondo1Agenda.svg";
import BgFondo2 from "../../../../src/assets/devfest2024/svg/Fondo2Agenda.svg";

---
<div id="paquetes" class="relative outline outline-black outline-4">
    <Image class="absolute flex-none top-1 left-0" src={BgFondo1} alt="" height={130} />
    <Image class="absolute flex-none bottom-0 right-0" src={BgFondo2} alt="" height={160} />
    <div class="pt-10 pb-10 px-6 ">
        <div class="">
            <div class="flex justify-center">
                <div class="flex-0 self-end">
                    <div class="custom-shape bg-black p-1">
                        <div class="flex custom-shape bg-azul-GDG justify-end">
                            <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                <h1 class="text-center text-3xl xl:text-5xl font-bold py-2 px-8">
                                    Agenda
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:columns-2">
            <div id="column_manana" class="flex-col">
                <h2 class="text-center text-2xl font-bold py-2 px-8">Mañana</h2>
                <div id="column_manana" class="">
                    <div class="custom-shape bg-black p-1 my-10 mx-10">
                        <div class="flex custom-shape bg-amarillo-GDG justify-end">
                            <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                <div class="flex">
                                    <div class="flex-1 font-bold text-xl">
                                        Acreditación + Introducción
                                    </div>
                                    <div class="flex flex-none items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>  
                                        08:30
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="relative">
                        <div class="custom-shape-reverse bg-black p-1 my-6 mx-10">
                            <div class="flex custom-shape-reverse bg-rojo-GDG justify-start">
                                <div class="bg-slate-50 outline outline-black custom-height custom-width mb-3">
                                    <div class="pl-28 pr-4">
                                        <h3 class="font-bold text-xl text-rojo-GDG">Visual Blocks: Desarrolla flujo de ML visualmente</h3>
                                        <div class="flex my-2"> 
                                            <div class="flex-1 text-lg">
                                               Pablo Noya
                                            </div>
                                            <div class="flex flex-none items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>  
                                                09:10
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Image class="absolute z-10 -rotate-6 bg-rojo-GDG p-1.5 outline top-0 left-8" src={ImgPabloD} alt="" width={110} />
                    </div>
    
                    <div class="relative">
                        <div class="custom-shape bg-black p-1 my-6 mx-10">
                            <div class="flex custom-shape bg-azul-GDG justify-end">
                                <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                    <div class="pr-28 pl-4">
                                        <h3 class="font-bold text-xl text-azul-GDG">La Triada perfecta para tú plataforma (Firebase + React + Gemini)</h3>
                                        <div class="flex my-2"> 
                                            <div class="flex-1 text-lg">
                                                Ariel Ortuño 
                                            </div>
                                            <div class="flex flex-none items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>  
                                                09:35
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Image class="absolute z-10 rotate-6 bg-azul-GDG p-1.5 outline top-0 right-8" src={ImgArielO} alt="" width={110} />
                    </div>
    
                    
                    <div class="relative">
                        <div class="custom-shape-reverse bg-black p-1 my-6 mx-10">
                            <div class="flex custom-shape-reverse bg-amarillo-GDG justify-start">
                                <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                    <div class="pl-28 pr-4">
                                        <h3 class="font-bold text-xl text-amarillo-GDG">Hábitos Atómicos + IA = Máxima Productividad</h3>
                                        <div class="flex my-2"> 
                                            <div class="flex-1 text-lg">
                                                María René Torrez Vargas
                                            </div>
                                            <div class="flex flex-none items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>  
                                                10:00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Image class="absolute z-10 -rotate-6 bg-amarillo-GDG p-1.5 outline top-0 left-8" src={ImgMariaT} alt="" width={110} />
                    </div>
    
                    
    
                    <div class="custom-shape bg-black p-1 my-10 mx-10">
                        <div class="flex custom-shape bg-verde-GDG justify-end">
                            <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                <div class="flex"> 
                                    <div class="flex-1 font-bold text-xl">
                                        Refrigerio
                                    </div>
                                    <div class="flex flex-none items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>  
                                        10:25
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="relative">
                        <div class="custom-shape-reverse bg-black p-1 my-6 mx-10">
                            <div class="flex custom-shape-reverse bg-rojo-GDG justify-start">
                                <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                    <div class="pl-28 pr-4">
                                        <h3 class="font-bold text-xl text-rojo-GDG">Explorando la Multimodalidad en AI: ¿Qué es PaliGemma?</h3>
                                        <div class="flex my-2"> 
                                            <div class="flex-1 text-lg">
                                                Alejando Núñez Arroyo
                                            </div>
                                            <div class="flex flex-none items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>  
                                                10:40
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Image class="absolute z-10 -rotate-6 bg-rojo-GDG p-1.5 outline top-0 left-8" src={ImgAlejandroN} alt="" width={110} />
                    </div>
                    
    
                    <div class="relative">
                        <div class="custom-shape bg-black p-1 my-6 mx-10">
                            <div class="flex custom-shape bg-azul-GDG justify-end">
                                <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                    <div class="pr-28 pl-4">
                                        <h3 class="font-bold text-xl text-azul-GDG">Diffusion Models: Transformando Deep Learning con poder generativo</h3>
                                        <div class="flex my-2"> 
                                            <div class="flex-1 text-lg">
                                                Fernando Silva
                                            </div>
                                            <div class="flex flex-none items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>  
                                                11:05
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Image class="absolute z-10 rotate-6 bg-azul-GDG p-1.5 outline top-0 right-8" src={ImgFernandoS} alt="" width={110} />
                    </div>
                   
                   
                    <div class="relative">
                        <div class="custom-shape-reverse bg-black p-1 my-6 mx-10">
                            <div class="flex custom-shape-reverse bg-verde-GDG justify-start">
                                <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                    <div class="pl-28 pr-4">
                                        <h3 class="font-bold text-xl text-verde-GDG">Can AI save the planet?</h3>
                                        <div class="flex my-2"> 
                                            <div class="flex-1 text-lg">
                                                Gabriela Nathaly Torrico
                                            </div>
                                            <div class="flex flex-none items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>  
                                                11:30
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Image class="absolute z-10 -rotate-6 bg-verde-GDG p-1.5 outline top-0 left-8" src={ImgGabrielT} alt="" width={110} />
                    </div>
                   
            
                </div>
            </div>
    
            <div id="column_tarde" class="flex-col">
                <h2 class="text-center text-2xl font-bold py-2 px-8">Tarde</h2>
                <div id="column_manana" class="">
                    
                  
                   
                    <div class="custom-shape-reverse bg-black p-1 my-16 mx-10">
                        <div class="flex custom-shape-reverse bg-rojo-GDG justify-start">
                            <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
    
                                <div class="flex"> 
                                    <div class="flex-1 text-xl font-bold">
                                        Almuerzo
                                    </div>
                                    <div class="flex flex-none items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>  
                                        12:00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="custom-shape bg-black p-1 my-16 mx-10">
                        <div class="flex custom-shape bg-verde-GDG justify-end">
                            <div class="bg-slate-50 outline outline-black p-2 custom-height custom-width mb-3">
                                <div class="flex"> 
                                    <div class="flex-1 text-center text-3xl font-bold">
                                        RALLY
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="custom-shape-reverse bg-black p-1 my-20 mx-10">
                        <div class="flex custom-shape-reverse bg-amarillo-GDG justify-start">
                            <div class="bg-slate-50 outline outline-black px-2 custom-height custom-width mb-3">
                                <div class="flex">
                                    <Image class="flex-none m-4" src={ImgIconGroup} alt="" height={80} />
                                    <div class="flex flex-1 pl-4 pr-2 py-8"> 
                                        <div class="flex-1 text-xl font-bold">
                                            Introducción y agrupación de equipos
                                        </div>
                                        <div class="flex flex-none items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>  
                                            13:30
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="custom-shape bg-black p-1 my-20 mx-10">
                        <div class="flex custom-shape bg-azul-GDG justify-end">
                            <div class="bg-slate-50 outline outline-black px-2 custom-height custom-width mb-3">
                                <div class="flex">
                                    <div class="flex flex-1 pl-2 pr-4 py-8"> 
                                        <div class="flex-1 text-xl font-bold">
                                            Comienza el rally
                                        </div>
                                        <div class="flex flex-none items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>  
                                            14:00
                                        </div>
                                    </div>
                                    <Image class="flex-none m-4" src={ImgIconBandera} alt="" height={80} />
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="custom-shape-reverse bg-black p-1 my-20 mx-10">
                        <div class="flex custom-shape-reverse bg-verde-GDG justify-start">
                            <div class="bg-slate-50 outline outline-black px-2 custom-height custom-width mb-3">
                                <div class="flex">
                                    <Image class="flex-none m-4" src={ImgIconCopa} alt="" height={80} />
                                    <div class="flex flex-1 pl-4 pr-2 py-8"> 
                                        <div class="flex-1 text-xl font-bold">
                                            Premiación
                                        </div>
                                        <div class="flex flex-none items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>  
                                            16:30
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="custom-shape bg-black p-1 my-20 mx-10">
                        <div class="flex custom-shape bg-rojo-GDG justify-end">
                            <div class="bg-slate-50 outline outline-black px-2 py-10 custom-height custom-width mb-3">
                            
                                <div class="flex mx-4"> 
                                    <div class="flex-1 text-xl font-bold">
                                        Cierre del evento
                                    </div>
                                    <div class="flex flex-none items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>  
                                        17:00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>

    
</div>
