---
import { Image } from "astro:assets";
import BgHero from "../../assets/images/devfest2024/fondo.svg";
import msg from "../../assets/images/devfest2024/mensaje.svg";
import devfest from "../../assets/images/devfest2024/devfest.svg";
import BtnRegistro from "../../assets/images/devfest2024/btnRegistrate.svg";

---

<div class="flex flex-col bg-rojo-GDG" id="HeroDevFest">
  <div class="w-full">
    <div class=" border-4 lg:border-[5px] border-black sm:h-[640px] h-[600px] w-auto relative sm:m-8 m-6 ">
        <Image class="w-full h-full object-cover absolute" src={BgHero} alt="fondo" />
        <div class="relative top-10 left-0 w-full h-full flex items-center flex-col gap-14 sm:gap-7">
          <div class="justify-center mx-16">
            <Image class="w-auto h-auto object-cover relative" src={msg} alt="fondo" />
          </div>
           <div class="justify-center mx-4">
             <Image class="w-auto h-auto object-cover relative" src={devfest} alt="fondo" />
          </div>
            <div class="justify-center mx-16">
                <a href="https://forms.gle/A7hXFmNXg1CMEWfu5">
                    <Image class="w-auto h-auto object-cover relative" src={BtnRegistro} alt="fondo" />
                </a>
            </div>            
        </div>
      </div>    
  </div>

  <script is:inline>
    document
      .getElementById("add-to-calendar")
      .addEventListener("click", function () {
        const event = {
          title: "Google I/O Extended Tarija 2024",
          location: `Universidad Católica Boliviana "San Pablo" Sete Tarija Calle Colon entre Bolivar e, Ingavi, Tarija`,
          details:
            "¡Únete a nosotros en el Google I/O Extended Tarija 2024, un evento imperdible para todos los apasionados por la tecnología! Nuestro objetivo principal es compartir las últimas novedades tecnológicas de Google con la comunidad de Tarija. Contaremos con expositores tanto nacionales como internacionales, que compartirán su conocimiento y experiencia en diversas áreas de la tecnología.\n Este evento es una oportunidad única para aprender, conectar y explorar las tendencias más recientes en el mundo de la tecnología. Habrá charlas inspiradoras, talleres prácticos y paneles de discusión que cubrirán una amplia gama de temas, desde desarrollo web y móvil hasta inteligencia artificial y más.\n No te pierdas esta oportunidad de sumergirte en el mundo de la tecnología y ser parte de una comunidad vibrante y apasionada. ¡Te esperamos en la Universidad Católica Boliviana el 20 de julio!",
          start: "20240720T123000Z",
          end: "20240720T220000Z",
        };

        const href = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent(event.title)}&dates=${event.start}/${event.end}&details=${encodeURIComponent(event.details)}&location=${encodeURIComponent(event.location)}`;

        window.open(href, "_blank");
      });
  </script>
</div>
