---
// Props: gradientClass, img, title, subtitle, borderColorClass
const { gradientClass, img, title, subtitle, borderColorClass } = Astro.props;
---

<div
  class={`rounded-3xl ${gradientClass} flex flex-col items-center justify-between overflow-hidden w-full`}
>
  <div class="flex-1 flex flex-col items-center justify-center w-full">
    <img src={img} alt={title} class="w-56 object-contain py-5" />
  </div>
  <div
    class={`bg-white w-full py-3 px-2 flex flex-col items-center rounded-b-3xl z-10 relative border-x-4 border-b-4 ${borderColorClass}`}
  >
    <div class="text-3xl font-semibold text-gray-800 mb-1">{title}</div>
    {subtitle && <div class="text-base text-gray-500">{subtitle}</div>}
  </div>
</div>
