---
import { Image } from "astro:assets";
import LogoDevFest from "../assets/svg/logo-devfest-h.svg";
---

<div class="background--color flex flex-col pt-20">
  <div class="w-full mt-40 sm:mt-8 min-[190px]:mt-8">
    <div class="">
      <Image
        class="m-auto w-10/12 sm:w-1/2"
        src={LogoDevFest}
        alt="Logo DevFest2024"
      />
    </div>
    <div class="text-center flex items-center justify-center mt-5 mb-5">
      <a
        href="/iwd2025"
        class="rounded-full md:px-6 min-[190px]:px-4 min-[190px]:py-2 bg-red-500 border-4 hover:bg-green-500 border-black text-white md:text-3xl min-[190px]:text-lg font-semibold"
      >
        Conocer más sobre el IWD 2025
      </a>
    </div>
  </div>
  <style>
    .background--color {
      background: #efefef;
    }
  </style>

  <script is:inline>
    document
      .getElementById("add-to-calendar")
      .addEventListener("click", function () {
        const event = {
          title: "Google I/O Extended Tarija 2024",
          location: `Universidad Católica Boliviana "San Pablo" Sete Tarija Calle Colon entre Bolivar e, Ingavi, Tarija`,
          details:
            "¡Únete a nosotros en el Google I/O Extended Tarija 2024, un evento imperdible para todos los apasionados por la tecnología! Nuestro objetivo principal es compartir las últimas novedades tecnológicas de Google con la comunidad de Tarija. Contaremos con expositores tanto nacionales como internacionales, que compartirán su conocimiento y experiencia en diversas áreas de la tecnología.\n Este evento es una oportunidad única para aprender, conectar y explorar las tendencias más recientes en el mundo de la tecnología. Habrá charlas inspiradoras, talleres prácticos y paneles de discusión que cubrirán una amplia gama de temas, desde desarrollo web y móvil hasta inteligencia artificial y más.\n No te pierdas esta oportunidad de sumergirte en el mundo de la tecnología y ser parte de una comunidad vibrante y apasionada. ¡Te esperamos en la Universidad Católica Boliviana el 20 de julio!",
          start: "20240720T123000Z",
          end: "20240720T220000Z",
        };

        const href = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent(event.title)}&dates=${event.start}/${event.end}&details=${encodeURIComponent(event.details)}&location=${encodeURIComponent(event.location)}`;

        window.open(href, "_blank");
      });
  </script>
</div>
