<div class="flex justify-center">
  <div class="lg:w-96 md:w-96 min-[190px]:w-72">
    <h2
      class="lg:text-3xl sm:text-xl md:text-2xl min-[190px]:h-8 content-center sm lg:h-auto font-bold text-center my-8 border rounded-2xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white"
    >
      Preguntas Frecuentes
    </h2>
  </div>
</div>

<div id="acordion" class="space-y-4 w-auto mx-10 content-center mb-8"></div>
<script is:inline>
  const faqList = document.getElementById("acordion");

  const gradientes = [
    "from-blue-500 via-purple-500 to-red-500",
    "from-red-500 via-orange-400 to-yellow-500",
    "from-green-500  via-green-500 to-blue-500",
    "from-purple-500 via-pink-500 to-blue-500",
  ];

  let indiceGradiente = 0;

  const obtenerGradiente = (index) => {
    if (index % 4 === 0) {
      const gradiente = gradientes[indiceGradiente];
      indiceGradiente = (indiceGradiente + 1) % gradientes.length;
      return `bg-gradient-to-r ${gradiente}`;
    }
    return "bg-white";
  };
  function toggleAccordion(index) {
    //console.log(index);
    const content = document.getElementById(`content-${index}`);

    if (content.classList.contains("hidden")) {
      content.classList.remove("hidden");
    } else {
      content.classList.add("hidden");
    }
  }

  const loadFaqs = (faqs) => {
    faqList.innerHTML = "";

    faqs.forEach((faq, index) => {
      const gradiente = obtenerGradiente(index);
      const faqElement = document.createElement("div");

      faqElement.innerHTML = `
        <div class="border border-gray-200 rounded-xl items-center ">
          <div class="flex justify-between items-center border rounded-xl ${gradiente}}">
            <p class="ml-5 sm:text-lg lg:text-xl font-bold">
              ${faq.pregunta}
            </p>
            <button class="text-left p-4 " id="button-${faq.id}">
              <span class="text-3xl material-symbols-outlined">keyboard_arrow_down</span>
            </button>
          </div>
          <div id="content-${faq.id}" class="p-4 animate-flip-down hidden">
            <p>${faq.respuesta}</p>
          </div>
        </div>
      `;

      faqList.appendChild(faqElement);

      document
        .getElementById(`button-${faq.id}`)
        .addEventListener("click", () => toggleAccordion(faq.id));
    });
  };

  fetch("/faq.json")
    .then((response) => response.json())
    .then((data) => {
      const faqs = data.map((faq) => ({
        ...faq,
        respuesta: faq.respuesta.replace(
          /\[(.+?)\]\((.+?)\)/g,
          '<a class="text-blue-800 underline" href="$2">$1</a>'
        ),
      }));
      loadFaqs(faqs);
    })
    .catch((error) => console.error("Error al cargar faqs desde JSON:", error));
</script>
